{% extends 'app/index.html' %}
{%load static%}


{% block titulo %}
<h1 class="heading-1">Modificar Producto - {{ producto.nombre_producto }}</h1>
{%endblock%}





{% block contenido %}

<form method="post" enctype="multipart/form-data" style="max-width: 400px; margin: auto;">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
            <label for="{{ form.nombre_producto.id_for_label }}">Nombre del Producto:</label>
            <div class="texto">{{ form.nombre_producto }}</div>
            {{ form.nombre_producto.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.precio.id_for_label }}">Precio:</label>
            <div class="texto">{{ form.precio }}</div>
            {{ form.precio.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
            <div class="texto">{{ form.imagen }}</div>
            {{ form.imagen.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.categoria.id_for_label }}">Categoría:</label>
            <div class="texto"></div>{{ form.categoria }}</div>
            {{ form.categoria.errors }}
        </div>

        <div class="form-group">
            <label class="label" for="{{ form.stock.id_for_label }}">Stock:</label>
            <div class="texto">{{ form.stock }}</div>
            {{ form.stock.errors }}
        </div>
        <div class="form-group">
            <label class="label" for="{{ form.fecha_vencimiento.id_for_label }}">Fecha de vencimiento:</label>
            <div class="texto">{{ form.fecha_vencimiento }}</div>
            {{ form.fecha_vencimiento.errors }}
        </div>
    </div>

    <button type="submit" style="display: block; margin: auto;">Guardar Producto</button>
</form>

<style>
    form {
        max-width: 400px;
        margin: auto;
        padding: 15px;
        box-sizing: border-box;
    }
    .texto{
        font-size: 16px;
    }
    .form-group {
        margin-bottom: 15px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #id_categoria {
        font-size: 16px; /* Ajusta el tamaño de la fuente */
        padding: 5px; /* Ajusta el relleno */
        width: 100%; /* Ajusta el ancho del cuadro desplegable */
    }
</style>
{% endblock %}

{% block contenido2 %}
{% endblock %}