{% extends 'app/index.html' %}
{%load static%}


{% block titulo %}

{%endblock%}
{% block section %}
{%endblock%}
{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <h2 style="text-align: CENTER;">Trabajadores</h2>
    </div>
    {% if trabajadores %}
    <div class="table-responsive"> <!-- Add this div -->
        <table class="table">
            <thead>
                <tr>
                    <td>Rut</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Teléfono</td>
                    <td>Correo</td>
                    <td>Rol</td>
                    <td>Opción</td>
                </tr>
            </thead>
            <tbody>
                {% for trabajador in trabajadores %}
                <tr>
                    <td>{{ trabajador.rut }}</td>
                    <td>{{ trabajador.nombre_trabajador }}</td>
                    <td>{{ trabajador.apellido_trabajador }}</td>
                    <td>{{ trabajador.telefono_trabajador }}</td>
                    <td>{{ trabajador.email_trabajador }}</td>
                    <td>{{ trabajador.rol }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'modificar_trab' trabajador.rut %}">Modificar</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_trab' trabajador.rut %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- Close the div -->
    {% else %}
    <div class="col-md-12">
        <p style="font-size: 16px;">No hay Empleados ingresados.</p>
    </div>
  
    {% endif %}
</div>

<style>
    table {
        width: 100%; /* Change this to 100% */
        margin: auto;
        border-collapse: collapse;
        font-size: 20px;
    }

    th, td {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn {
        padding: 12px;
        text-decoration: none;
        color: white;
    }

    .btn-danger {
        background-color: #ff0000;
    }
</style>
{% endblock %}

{% block contenido2 %}
{% endblock %}